/* 
body {
  display: flex;
}

.profile{
  position: relative;
  width: 20vw;
  text-align: left;
  padding: 20px;
  max-width: 85vh;
  height: 40vh;
  background-size: cover;
}

.profile-photo {
  width: 8vw;
  height: 8vw;
  padding: 5px;
  border-radius: 50%;
  border: 4px solid rgb(246, 66, 0);
  background-size: cover;
}

.pic-upload {
  height: 5vh;
}

h1 {
  color: purple;
  text-align: center;
  margin-left: -3vw;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 5vh;
}

.profile-details {
  display: grid;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
} */
