
/* .profile{
  position: relative;
  width: 20vw;
  text-align: left;
  padding: 20px;
  max-width: 85vh;
  height: 40vh;
  border: 1px solid black;
  background-size: cover;
} */

.profile-photo {
  position: relative;
  width: 9vw;
  padding: 15px;
  max-width: 9vw;
  border: 1px solid black;
  background-size: cover;
}

h1 {
  position: relative;
  color: purple;
  text-align: left;
  margin-left: -3vw;
}


/* .listed-restaurants {
  display: grid;
  width: 9vw;
  padding: 15px;
  max-width: 9vw;
  border: 1px solid black;
  background-size: cover;
} */