/* NavBar.css */

#mySidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  background-color: hsl(13, 100%, 58%);
  overflow-x: hidden;
  padding-top: 20px; /* Adjust padding as needed */
}

#mySidenav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust width to fill the entire div */
  height: calc(100% / 6); /* Set height of each tab to be evenly spaced within the div */
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  transition: 0.3s;
}


#mySidenav a:hover {
  width: 200px;
  background-color: hsl(180, 100%, 25%);
}ß

#orderhistory {
}

#neworder {
}

#restaurants {
}

#settings {
}

.dropbtn {
  display: block;
  position: relative;
  background-color: hsl(180, 100%, 25%);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%; /* Set width to 100% */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: hsl(180, 100%, 25%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: hsl(180, 100%, 25%);
}

.logo {
  align-self: center;
  font-size: 45px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}
