*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.365);
}

.card h2 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin: 5vh;
}

.swipe {
    position: absolute;
}
