*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;

    background-color: white;
}

.card h2 {
    bottom: 10px;
    color: black;
}

.cardRestaurant_container {
    display: flex;
    justify-content: center;
    margin: 5vh;
}

.swipe {
    position: absolute;
}
